* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #047c3f;
}

:root {
  --card-title-border-color: #746615;
  --card-color-primary: #f7dd43;
  --card-bg-color: #1d1c19;
  --bg: url(./assets/bg-yellow.svg);
}

body.blue {
  --card-title-border-color: #338af3;
  --card-color-primary: #338af3;
  --card-bg-color: #102f49;
  --bg: url(./assets/bg-blue.svg);
}

body.green {
  --card-title-border-color: #047c3f;
  --card-color-primary: #047c3f;
  --card-bg-color: #1d2920;
  --bg: url(./assets/bg-green.svg);
}

body.copa {
  --card-title-border-color: #7c0450;
  --card-color-primary: #7c0450;
  --card-bg-color: rgba (255, 0, 0, 0.9);
  --bg: url(./assets/bg-copa.svg);
}

body.bola {
  --card-title-border-color: #96b9c7;
  --card-color-primary: #96b9c7;
  --card-bg-color: rgba (255, 0, 0, 0.9);
  --bg: url(./assets/bg-bola.svg);
}

body.azul {
  --card-title-border-color: #338af3;
  --card-color-primary: #338af3;
  --card-bg-color: #1f1f31;
  --bg: url(./assets/bg-azul.svg);
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: var(--bg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

.theme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 40px;
}

.btn-theme {
  font-weight: 700;
  padding: 5px 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: #121214;
  color: #e4f2f4;
  transition: all 0.3s ease;
}

.btn-theme-yellow {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-yellow:hover {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-blue {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-blue:hover {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-green {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-green:hover {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-azul {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-azul:hover {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-bola {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-bola:hover {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-copa {
  background-image: linear-gradient(#746615, #181818);
}

.btn-theme-copa:hover {
  background-image: linear-gradient(#746615, #181818);
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 16px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  opacity: 0;
  animation: appear 0.2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 1020px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
